#container{
    width:40%;
    margin-left:35%;
    font-size:20px;
}

.arsenal p:nth-child(2){
    background-color:greenyellow;
}

.arsenal h1{
    color:white;
    background-color:red;
}


.atletico h1{
    color:white;
    background-color:crimson;
}


.borussia h1{
    color:black;
    background-color:yellow;
    

}






