#container{
    width:40%;
    margin-left:35%;
    font-size:30px;
    background-color: red;

}

.english-teams h1{
    background-color:blue;
    color:white;
    

}

.equipos-espanoles h1{
    background-color:orange;
    color:blue;

}

.english-teams h3:nth-child(5){
    text-align:center;
}


.equipos-espanoles p:last-child{
    text-align:center;
}






 