
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200&family=Shalimar&display=swap');

#container{
    width:40%;
    margin-left:35%;
    font-size:20px;
}

h1{
    font-family: 'Kanit', sans-serif;
    font-size:40px;
}

img + p{
    font-family: 'Shalimar', cursive;
    font-size:30px;
}